<app-header></app-header>
<app-side-bar-menu ></app-side-bar-menu>
<app-footer></app-footer>

<!-- <div class="container">
    <h1>Welcome to Shared Technical Services</h1>
        <mat-form-field> 
        Username
        <input matInput [(ngModel)]="x_sts_user">
        </mat-form-field>
                
        <mat-form-field>
        Password
        <input matInput [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>              
    <mat-checkbox>Remember my login on this computer</mat-checkbox>
</div>
                
<button routerLink="/dashboard">Log In</button>
<a href="">Can't access your account?</a> -->