<section fxLayout="row" fxLayoutAlign="start stretch">
  <mat-toolbar color="primary" class="mat-elevation-z10">
      <mat-toolbar-row>
        <div fxFlex="50">
          <img class="kp" src="../../assets/KP_Signature_white_0817.png">
          <img class="cto" src="../../assets/CTO-logo.png">
              <mat-icon class="title">cloud</mat-icon> 
                  {{title}}
              <!-- <p class="title">{{title}}</p>-->
        </div>
      </mat-toolbar-row>
  </mat-toolbar>
</section>