// for KP Logo
.kp {
    padding-top: 5px;
    height: 45px;
    width: 350px;
}

//for CTO Logo
.cto {
    padding-top: 5px;
    padding-left: 25px;
    height: 59px;
    width: 300px;
}

.title { 
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 30px;
    font-size: 50px;
}
