<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<div class="container">
  <h1><u>Welcome to Shared Technical Services</u></h1>
  <h5>
    Speed to market in delivering business capabilities to KP members, care team and workforce is one of the top goals of KP IT. 
    To accomplish this goal, KP IT teams are recommended to Develop and transition KP applications as Cloud-native applications. This will be built as Platform as a Service (PaaS) using Microservices Architecture and DevOps automation resulting in faster delivery of business capabilities.
  </h5>
</div>


<!-- <div class="angContainer">
    <mat-form-field> 
      Username
     <input matInput [(ngModel)]="x_sts_user">
    </mat-form-field>
          
    <mat-form-field>
      Password
      <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>    

    <mat-checkbox>Remember my login on this computer</mat-checkbox>

    <!- - <button (click)="loggedIn()">Log In</button>
    <a href="">Can't access your account?</a>   
</div> -->

<button (click)="loggedIn()">Log In</button>
<a href="">Can't access your account?</a>  

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>IaaS</h2>
      <img src="../../assets/iaas.png">
      <h6> 
        IaaS offers web-based catalog for authorized users to provision and manage Virtual Machines. The catalog is provided as part of the STS Portal UI, BMX Broker Service and also as RESTful APIs.  Project teams can perform Life cycle operations on the VMs using the STS Portal UI and BMX console via a browser. They can also integrate the DevOps pipe line using the REST APIs.
      </h6>
    </div>
  <!-- </div> -->

  <!-- <div class="row"> -->
    <div class="col-md-4">
      <h2>DbaaS</h2>
      <img src="../../assets/dbaas.png">
      <h6>
        Build a COSB (Cloud Oracle Service Broker) that will use a provider-agnostic DBaaS (Database as a Service)
        To begin with COSB has to be supported on BMX (IBM Bluemix)
        COSB will provide real-time service orchestration and protocol mediation capabilities with standard interfaces for end user applications/services  
      </h6>
    </div>
  <!-- </div> -->

  <!-- <div class="row"> -->
    <div class="col-md-4">
      <h2>LbaaS</h2>
      <img src="../../assets/lbaas.png">
      <h6>
        Build a CLBR (Cloud Load Balancing and Routing) that will service a LBaaS (Load Balancing as a Service)
        CLBR will process load balancing service requests in real-time through standard interfaces for end user applications/services to minimize provisioning time of service requests from days to few minutes.
      </h6>
    </div>
  </div>
</div>




